{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-console": 0,
    "no-underscore-dangle": 0,
    "quotes": [
      2,
      "single"
    ],
    "comma-dangle": 0,
    "semi": 0
  }
}