.hidden {
	display: none !important;
}
.stop-all {
	text-align: right;
	margin-bottom: 10px;
}
.tab-title {
	display: inline-block;
	width: 135px;
	 margin-right: 10px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	vertical-align: middle;
}
.tab-list {
    list-style-type: none;
    padding: 0;		
    width: 270px;
}
.tab {
	margin-top: 5px; 
}
.tab-list li:hover{
	cursor: pointer;
}

.tab-ico {
	width: 16px;
	height: 16px;
	vertical-align: middle;
	padding-right: 5px;
}

.play-ico, .pause-ico, .prev-ico, .next-ico {
	width: 24px;
	height: 24px;
	display: inline-block;
	vertical-align: middle;
}

.prev-ico {
	background-image: url('chrome-extension://__MSG_@@extension_id__/img/previous_3-24.png');
}

.play-ico {
	background-image: url('chrome-extension://__MSG_@@extension_id__/img/play-24.png');
}

.pause-ico {
	background-image: url('chrome-extension://__MSG_@@extension_id__/img/pause-24.png');
}

.next-ico {
	background-image: url('chrome-extension://__MSG_@@extension_id__/img/next_3-24.png');
}